<!-- Main JS -->
<script src="/static/assets/js/script.js"></script>
<!-- Fancybox JS -->
<script src='/static/assets/jquery/fancybox/jquery.fancybox.min.js'></script>
<!-- Gallery JS -->
<script src="/static/assets/js/fancybox/script.js"></script>
<!-- Pagination JS -->
<script src="/static/assets/js/pagination/script.js"></script>
<!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Media sosial kami:</span>
    </div>
    <!-- Left -->

    <!-- Right -->

    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3 text-secondary"></i>Tentang Kami
          </h6>
          <p>
          <h6 class="mb-4">GSJA Pemuridan</h6>
          <p style="font-size:12px" class="m-2">Alamat. Ds. Tanah Tinggi, No.22, RT 011, RW 008, Dusun 3<br>
            Kec. Padang Jaya, Kab. Bengkulu Utara, Bengkulu, 38657<br>
            Telp.+62 852-7955-0052 , Email. gsjapemuridan@gmail.com</p><br>
          <p id="admin" style="font-size:9px">Admin, Ivan : <span style="color:blue">+62 852-6801-8218</span></p>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="text-center col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Kontak</h6>
          <div class="media-sosial">
            <a href="https://www.facebook.com/profile.php?id=100075930971691"><i
                class="m-2 fab fa-xl fa-facebook-f"></i></a>
            <a href="#"><i class="m-2 fab fa-xl fa-google"></i></i></a>
            <a href="#"><i class="m-2 fab fa-xl fa-instagram"></i></a>
            <a href="https://www.youtube.com/channel/UCn1zy1ZwTRyGMoMWMf0ZDpQ"><i
                class="m-2 fab fa-xl fa-youtube"></i></a>
          </div>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="#">GSJA Pemuridan</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</body>

</html>