{% include "separate/header.html" %}

<div class="content bg-light-dark">
  <div class="text-center p-5">
    <div class="pengakuan-iman bg-body infobox p-3">
      Aku percaya kepada Allah Bapa Yang Mahakuasa, Khalik langit dan bumi dan
      kepada Yesus Kristus AnakNya yang tunggal Tuhan kita;
      <br /><br />
      Yang dikandung oleh Roh Kudus lahir dari anak dara Maria, yang menderita
      sengsara di bawah pemerintahan Pontius Pilatus disalibkan, mati, dan
      dikuburkan, turun ke dalam kerajaan maut
      <br /><br />
      pada hari yang ketiga, bangkit pula dari antara orang mati; naik ke surga,
      duduk di sebelah kanan Allah Bapa Yang Maha Kuasa; dari sana Ia akan
      datang untuk menghakimi orang yang hidup dan yang mati.
      <br /><br />
      Aku percaya kepada Roh Kudus, Gereja yang kudus dan am, persekutuan
      orang-orang kudus, pengampunan dosa, kebangkitan daging dan hidup yang
      kekal. Amin
      <br /><br />
      TUHAN YESUS MEMBERKATI
    </div>
  </div>
</div>

{% include "separate/footer.html" %}