{% include "separate/header.html" %}

<div class="content bg-light-dark">
    <div class="text-center p-5">
        <div class="pengakuan-iman bg-body infobox p-3">
            Kami percaya bahwa:
            Alkitab adalah Firman Allah yang diilhamkan tanpa salah,
            satu-satunya kaidah yang mutlak
            dan berwewenang bagi iman dan perilaku manusia.
            Allah adalah Esa, hadir secara kekal dalam tiga Oknum: Allah Bapa, Allah Putra, dan Allah Roh Kudus.
            <br><br>
            Tuhan Yesus Kristus:
            Ilahi adanya, lahir dari seorang anak dara, hidup tanpa dosa,
            melakukan mujizat-mujizat, menebus manusia yang berdosa
            melalui kematianNya, bangkit secara badani,
            naik ke surga dan dimuliakan di sebelah kanan Allah Bapa,
            akan datang kembali ke bumi dalam kuasa dan kemuliaan untuk memerintah dalam Kerajaan Seribu Tahun.
            <br><br>
            Oleh pelanggaran satu orang (Adam) dosa telah masuk ke dalam dunia dan maut oleh sebab dosa;
            demikianlah maut telah menimpa semua orang karena semua orang telah berbuat dosa.
            Keampunan dan penyucian dari dosa hanyalah melalui pertobatan dan iman kepada kuasa penyucian darah Kristus.
            <br><br>
            Pembaharuan yang dikerjakan oleh Roh Kudus mutlak perlu bagi keselamatan seseorang.
            Karya penebusan Kristus di atas salib menyediakan kesembuhan bagi tubuh manusia melalui doa dan iman.
            Pengudusan dikerjakan oleh Roh Kudus yang mendiami orang percaya.
            Baptisan Roh Kudus menurut Kisah Para Rasul 2:4
            dikaruniakan kepada orang beriman yang memohon dari Allah.
            <br><br>
            Pengangkatan Gereja pada waktu kedatangan Kristus di awan-awan merupakan pengharapan yang bahagia bagi
            orang-orang
            percaya.
            Kebangkitan tubuh bagi orang-orang percaya maupun yang tidak percaya;
            yang pertama untuk menerima hidup yang kekal
            dan yang kedua untuk menerima hukuman yang kekal. Amin
            <br><br>
            TUHAN YESUS MEMBERKATI
        </div>
    </div>
</div>

{% include "separate/footer.html" %}