{% include "separate/header.html" %}

<div class="content bg-light-dark">
    <div class="text-center p-5">
        <div class="sejarah_gereja p-3 bg-body infobox">
            Penginjilan pertama dirintis oleh Pendeta Agus Manuhutu (&#10014;) yang berasal dari Palembang.
            Pelayanan injil dilaksanakan di Unit 1 pada tahun 1986, tepatnya di kediaman
            keluarga besar Bapak Gideon. Selanjutnya, pelayanan mulai diadakan di Gereja Unit 5
            pada tahun 1987, yang digembalai oleh Pendeta Hosea (&#10014;) selama 5 tahun, yaitu pada tahun
            1987 hingga tahun 1992. Pelayanan kemudian dilanjutkan oleh Pendeta Thomas
            Ramlan selama 8 tahun, yakni pada tahun 1992 hingga tahun 2000. Selanjutnya,
            pelayanan dipimpin oleh Pendeta Donald sejak tahun 2000 hingga tahun 2002.
            Kemudian, Pendeta Simon Mukadi (&#10014;) melakukan pelayanan selama 8 tahun,
            pada tahun 2002 sampai 2010. Dilanjutkan oleh Pendeta Ramli Nababan selama 4
            tahun, yaitu tahun 2010-2014, dan Pendeta Matius Junianto pada tahun 2015 -
            hingga saat ini. Catatan: Pdt. Simon Mukadi selalu mendampingi gembala sepanjang
            pelayanan Gereja dan difungsikan sebagai tenaga pelayan Injil GSJA
            Pemuridan.
            <br><br>
            Selama berdiri, Gereja telah berganti nama sebanyak 2 kali. Nama
            yang pertama digunakan dari tahun 1987-2015, yaitu GSJA "Imanuel". Kemudian
            diubah menjadi GSJA "Pemuridan" dari tahun 2015 - sampai sekarang. Gereja
            telah melakukan kegiatan pembangunan sebanyak dua (2) kali yaitu pada tahun
            1987 dan juga tahun 2008.
        </div>
    </div>
</div>

{% include "separate/footer.html" %}