{% include "separate/header.html" %}
<div class="content bg-light-dark p-5">
  <div class="text-center"></div>
  <div class="center-align">
    <div class="wrapper">
      <div class="content">
        <div>
          <img src="{{url_for('static', filename='/images/bagan/gsja-pemuridan-2023.png')}}" alt="Image Gallery"
            width="100%" class="thumbnails bg-body infobox"
            data-large="{{url_for('static', filename='/images/bagan/gsja-pemuridan-2023.png')}}" />
        </div>
      </div>
    </div>
  </div>
</div>

{% include "separate/footer.html" %}